<html>
<head>
    @if (!Model.HasRelease)
    {
        try
        {
            IgnoreSection("release");
        }
        catch (Exception) { }
    }

    @if (!Model.HasExtraInfo)
    {
        try
        {
            IgnoreSection("aboutextra");
        }
        catch (Exception) { }
    }

    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nusstudios' lilcrypto" />
    <meta name="author" content="Patrik Nusszer" />
    @RenderSection("keywords", false)
    <title>@ViewData["Title"] - Nusstudios</title>
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_1_rld.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_1_item.css">
    <script src="~/js/master_rld.js"></script>
    <script>(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70457939-1', 'auto');
        ga('send', 'pageview');</script>
</head>
    <body>
        <div id="background"></div>
        <div id="navbar" align="center">
            <a asp-controller="Home" asp-action="Index" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div id="navbar_logo">
                    <svg width="100%" height="100%" viewBox="0 0 118 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                    <g transform="matrix(1,0,0,1,-627.592,-249.486)">
                    <g transform="matrix(1,0,0,1,-600.157,-1353.94)">
                    <g transform="matrix(1,0,0,1,600.157,1353.94)">
                    <path id="nuss" d="M640.953,358.732C639.776,359.017 638.356,359.434 636.819,360.043C633.457,361.376 629.439,363.663 628.073,364.46L627.711,364.823L627.691,364.831C627.691,364.831 627.738,364.752 627.824,364.607C627.673,364.695 627.592,364.744 627.592,364.744L627.6,364.725L627.975,364.349C628.772,362.984 631.059,358.966 632.392,355.603C633.114,353.779 633.568,352.119 633.849,350.836C624.28,334.108 632.585,305.465 654.46,282.048C654.617,278.833 655.711,275.901 658.114,273.499C672.435,259.178 698.086,261.576 715.362,278.852C732.637,296.127 735.035,321.779 720.715,336.099C718.073,338.741 714.886,339.895 711.444,340.019C687.05,362.529 657.156,370.372 640.953,358.732ZM719.388,275.041C719.388,275.041 737.307,263.1 743.705,256.701C745.355,255.052 745.355,252.373 743.705,250.723C742.055,249.073 739.377,249.073 737.727,250.723C731.328,257.122 719.388,275.041 719.388,275.041Z" fill="#FFFFFF" />



                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
            <a asp-controller="Home" asp-action="Projects" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="@(Model.GB ? "Projects" : "Projektek")" class="menuitem selected">
                    @(Model.GB ? "Projects" : "Projektek")
                </div>
            </a>
            <a asp-controller="Home" asp-action="Blog" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="Blog" class="menuitem">
                    Blog
                </div>
            </a>
            <a asp-controller="Home" asp-action="NussAPI" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="NussAPI" class="menuitem">
                    NussAPI
                </div>
            </a>
            <a asp-controller="Home" asp-action="Edu" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="@(Model.GB ? "Tutoring" : "Magántanítás")" class="menuitem">
                    @(Model.GB ? "Tutoring" : "Magántanítás")
                </div>
            </a>
            <a asp-controller="Home" asp-action="Reference" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="@(Model.GB ? "Reference" : "Referenciáim")" class="menuitem">
                    @(Model.GB ? "Reference" : "Referenciáim")
                </div>
            </a>
            <a asp-controller="Home" asp-action="Contact" asp-route-gb="@(Model.GB ? "true" : "false")">
                <div title="@(Model.GB ? "Contact" : "Kapcsolat")" class="menuitem">
                    @(Model.GB ? "Contact" : "Kapcsolat")
                </div>
            </a>
        </div>
        <div id="panel">
            <div id="toppanel">
                <h1 id="topheading">@RenderSection("topheading")</h1>
                <p id="subheading">@RenderSection("subheading")</p>
            </div>
            <hr>
            <p id="description">
                @RenderSection("description")
            </p>
            <h1 class="heading">Downloads</h1>
            <hr>
            <a @RenderSection("source")>
                <div class="downloadbtn">
                    Source
                </div>
            </a>
            @if (Model.HasRelease)
            {
                <a @RenderSection("release")>
                    <div class="downloadbtn">
                        Release
                    </div>
                </a>
            }
            <h1 class="heading">About</h1>
            <hr>
            <div id="about">
                <h1 class="heading">Language, target platform & version</h1>
                <p>@RenderSection("projectspecs")</p>
                @if (Model.HasExtraInfo)
                {
                    @RenderSection("aboutextra", false)
                }
            </div>
        </div>
    </body>
</html>