@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.ModsSelected = false;
    ViewBag.BlogSelected = true;
    ViewData["Title"] = "Blog";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_2.css">
    <link rel="stylesheet" type="text/css" href="~/css/itemslisting.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
}

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Algorithms" : "Algoritmusok")</p>
        <a asp-controller="Articles" asp-action="knuthmorrispratt" asp-route-gb="@(Model.GB ? "true" : "false")"><p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">Knuth Morris Pratt algorithm</p></a>
        <a asp-controller="Articles" asp-action="floydstortoiseandhare" asp-route-gb="@(Model.GB ? "true" : "false")">
            <p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">
                @(Model.GB ? "Floyd's tortoise and hare [+interactive animation]" : "Floyd teknős és nyúl algoritmusa [+interaktív animáció]")
            </p>
        </a>
        <a asp-controller="Articles" asp-action="mergesort" asp-route-gb="@(Model.GB ? "true" : "false")"><p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">Mergesort of Neumann János</p></a>
        <a asp-controller="Articles" asp-action="heapsort" asp-route-gb="@(Model.GB ? "true" : "false")">
            <p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">
                @(Model.GB ? "Heapsort of J. W. J. Williams" : "J. W. J. Williams kupacrendező algoritmusa")
            </p>
        </a>
        <a asp-controller="Articles" asp-action="dijkstra" asp-route-gb="@(Model.GB ? "true" : "false")"><p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">Dijkstra's shortest path</p></a>
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Abstract" : "Absztrakt")</p>
        <a asp-controller="Articles" asp-action="paradigms_brief_history" asp-route-gb="@(Model.GB ? "true" : "false")">
            <p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">
                @(Model.GB ? "History of programming paradigms" : "A programozási paradigmák története")
            </p>
        </a>
        <a asp-controller="Articles" asp-action="high_level_languages_behind_the_scenes" asp-route-gb="@(Model.GB ? "true" : "false")">
            <p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">
                @(Model.GB ? "High level language: behind the scenes" : "Magasszintű nyelvek a kulisszák mögött")
            </p>
        </a>
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Documentation" : "Dokumentáció")</p>
        <a asp-controller="Articles" asp-action="transformers_game_configurations_low_level" asp-route-gb="@(Model.GB ? "true" : "false")">
            <p onMouseOver="showInfo('Describes the structure of TF configs', this)" onmouseout="hideInfo(this)">
                @(Model.GB ? "Transformers games INI/INT configurations low-level" : "Transformer játékok konfigurációi alacsony szinten")
            </p>
        </a>
        <a asp-controller="Articles" asp-action="youtube_ciphered_signatures" asp-route-gb="@(Model.GB ? "true" : "false")"><p onMouseOver="showInfo('Describes how Youtube downloaders work', this)" onmouseout="hideInfo(this)">Youtube ciphered signatures today</p></a>
        <a asp-controller="Articles" asp-action="graph_api_and_x_instagram_gis" asp-route-gb="@(Model.GB ? "true" : "false")"><p onMouseOver="showInfo('Complete description of how Graph API works and how it is secured', this)" onmouseout="hideInfo(this)">Graph API and X-Instagram-GIS</p></a>
    </div>
</div>