@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.ModsSelected = false;
    ViewBag.BlogSelected = true;
    ViewData["Title"] = "Blog";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_2.css">
    <link rel="stylesheet" type="text/css" href="~/css/itemslisting.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
}

@using Nusstudios.Models;

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Algorithms" : "Algoritmusok")</p>
        @foreach (Article a in Model.Algorithms)
        {
            <a asp-controller="Articles" asp-action="@a.Action" asp-route-gb="@(Model.GB ? "true" : "false")">
                <p>
                    @a.Description
                </p>
            </a>
        }
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Abstract" : "Absztrakt")</p>
        @foreach (Article a in Model.Abstract)
        {
            <a asp-controller="Articles" asp-action="@a.Action" asp-route-gb="@(Model.GB ? "true" : "false")">
                <p>
                    @a.Description
                </p>
            </a>
        }
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Documentation" : "Dokumentáció")</p>
        @foreach (Article a in Model.Documentation)
        {
            <a asp-controller="Articles" asp-action="@a.Action" asp-route-gb="@(Model.GB ? "true" : "false")">
                <p>
                    @a.Description
                </p>
            </a>
        }
    </div>
</div>