@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}

@section meta {
    <meta name="keywords" content="Nusstudios,Projects,open source,projects,developer" />
    <meta name="description" content="All open source projects and applications of Nusstudios" />
    <meta name="author" content="Patrik Nusszer" />
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_2.css">
    <link rel="stylesheet" type="text/css" href="~/css/itemslisting.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
}

@using Nusstudios.Models;

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Apps" : "Appok")</p>
        @foreach (Project p in Model.Apps)
        {
            <a asp-controller="Projects" asp-action="@p.Action">
                <p>@p.Name</p>
            </a>
        }
        
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Games" : "Játékok")</p>
        @foreach (Project p in Model.Games)
        {
            <a asp-controller="Projects" asp-action="@p.Action">
                <p>@p.Name</p>
            </a>
        }
    </div>
</div>

<div class="integrator">
    <div class="column">
        <p class="heading">@(Model.GB ? "Developer & Educational" : "Fejlesztői és oktatási célu")</p>
        @foreach (Project p in Model.Educational)
        {
            <a asp-controller="Projects" asp-action="@p.Action">
                <p>@p.Name</p>
            </a>
        }
    </div>
</div>